// Colors
$main-color: #283f6c;
$panels-color: #33518b;
$icons: #707070;
$darkgrey: #4b4b4b;
$buttons: #e1652a;
$white: #fff;
$background: #f7f7f7;
$signinbackground: #282829;
$speed: 500ms;

//Global Site Styling
html {
  margin: 0;
  background-color: $background;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  margin: 0;
}

button {
  border: none;
  color: $white;
  background: $buttons;
}
.app {
  display: flex;
}
