// Colors
$main-color: #283f6c;
$panels-color: #33518b;
$icons: #707070;
$darkgrey: #4b4b4b;
$buttons: #e1652a;
$white: #fff;
$background: #f7f7f7;
$signinbackground: #282829;
//Transition
$speed: 500ms;

//Global Site Styling
html {
  margin: 0;
  background-color: $background;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  margin: 0;
}

button {
  border: none;
  color: $white;
  background: $buttons;
}

.areaselectedpage{
  position: relative;
}
.change-area-btn{
  position: absolute;
  top: 2%;
  background: #283f6c;
  left: 2%;
  font-weight: bold;
  padding: 0.5% 1% 0.5% 1%;
  border-radius: 8px;
  box-shadow: 0px 1px 7px 1px rgba(0, 0, 0, 0.5);
  &:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 500ms;
  }
}
.app {
  display: flex;
}
